
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.background-fixed-layer {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position: center center;
    z-index: -1; /* Mándalo detrás de todos los demás elementos */
}

.app-main {
  position: relative;
  min-height: 100vh;
  min-height: 100svh;
  width: 100%;

  display: flex; 
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 600px) {
  .app-main {
    align-items: center; 
  }
}



