/* MainAlbums.css */
.photos-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
}

.photo-card {
    border: 1px solid #ddd;
    overflow: hidden; 
    height: 230px;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}

.album-photo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    display: block; 
}

.albums-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 10px;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    justify-content: center;
}

.album-card {
    background-color: rgb(235, 255, 232);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    height: 200px; /* Altura fija para el cuadrado, aj칰stala a tu gusto */
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}
@media (max-width: 600px) {
    /* 1. Ajuste de la Cuadr칤cula para Pantallas Peque침as */
    .albums-grid {
        /* Reducimos el tama침o m칤nimo de las columnas para que quepan m치s */
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); 
        gap: 15px; /* Ajustamos el espacio entre las tarjetas */
        padding: 0px; /* Reducimos el padding general */
    }

    /* 2. Reducci칩n del Tama침o de la Tarjeta */
    .album-card {
        height: 150px; /* 游댠 Reducimos la altura de la tarjeta */
        padding: 8px; /* Reducimos el padding interior */
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra m치s sutil */
    }

    .album-title {
        font-size: 10px;
    }
}
.album-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.album-title {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    font-size: 10px;
    word-break: break-word;
}



.loading-backdrop {
    /* Fondo oscuro y transparente que cubre toda la pantalla */
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Aseg칰rate de que est칠 por encima de todo */
}

.loading-content {
    /* Contenedor del mensaje de carga */
    padding: 20px 40px;
    background: white;
    border-radius: 8px;
    text-align: center;
}

/* Spinner b치sico (puedes usar un GIF o CSS m치s complejo) */
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite; /* Animaci칩n de giro */
    margin: 10px auto 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

