#root {
    width: 100%;
    min-height: 100vh; 
    display: flex;
    justify-content: center; /* Centrado Horizontal */
    align-items: center; /* Centrado Vertical */
    transition: background-color 0.5s ease; 
}
/* Estilos para el contenido de bienvenida después del login */
.welcome-content {
    background-color: hsla(0, 0%, 98%, 0.447); /* Gris oscuro */
    color: #ecf0f1; /* Texto blanco/gris claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(172, 148, 148, 0.447); /* Sombra más pronunciada */
    text-align: center;

    max-width: none; /* 👈 Eliminamos la restricción de ancho máximo */
    width: calc(100% - 20px); /* 👈 Ajustamos el ancho para que quepa dentro de los márgenes del 10px */
    height: calc(100vh - 80px); /* 👈 Ocupa toda la altura (100vh) menos los 10px de margen superior e inferior */
    margin: 20px; /* 👈 Margen de 10px en todos los lados */

    display: flex;
    flex-direction: column;
}

.name-of-page {
    color: rgb(208, 111, 111); /* Verde para el título de bienvenida */
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.gallery-content {
    margin-top: 20px;
    flex-grow: 1;
    overflow-y: auto; 
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    text-align: left; 
    color: #444;
    background-color: rgba(255, 255, 255, 0); /* Fondo blanco para el área de la galería */
    border-radius: 5px;
    min-height: 0; 
}
.main-buttons {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.addAlbum-button {
    background-color: rgb(208, 111, 111);
    color: white;
    border: none;
    box-shadow: 0 4px 16px rgba(172, 148, 148, 0.447);
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    width: auto;
    max-width: 250px;
}
.options-button:disabled {
    cursor: not-allowed;
    opacity: 0;
    transform: none;
}
.options-button {
    background-image: url('./assetsComponents/options-image.jpg');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 10px;
    padding: 16px 16px;
    cursor: pointer;
    margin-left: auto; 
    width: auto;
    transition: all 0.2s ease; /* Transición para todos los cambios */
}

.options-button:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.options-button:active {
    transform: translateY(0);
    box-shadow: none;
}

.addAlbum-button:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addAlbum-button:active {
    transform: translateY(0);
    box-shadow: none;
}