/* MainAlbums.css */
.photos-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
}

.photo-card {
    border: 1px solid #ddd;
    overflow: hidden; 
    height: 230px;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}

.album-photo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    display: block; 
}

.albums-grid {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    box-sizing: border-box; 
    padding: 10px;
    width: 100%;
    overflow-y: auto;
    justify-content: center;

}

.album-card {
    background-color: rgb(235, 255, 232);
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    display: flex;
    height: 250px;
    flex-direction: column;
    justify-content:flex-end;
    transition: transform 0.2s, box-shadow 0.2s;
}

.album-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.album-title-container {
    background-color: #fbcaca;
    padding: 5px 5px; 
    width: 100%;
    margin-top: auto; 
}

.album-title-text {
    font-weight: bold;
    color: #333;
    font-size: 15px;
    word-break: break-word;
    display: block;
}



.loading-backdrop {
    /* Fondo oscuro y transparente que cubre toda la pantalla */
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté por encima de todo */
}

.loading-content {
    /* Contenedor del mensaje de carga */
    padding: 20px 40px;
    background: white;
    border-radius: 8px;
    text-align: center;
}

/* Spinner básico (puedes usar un GIF o CSS más complejo) */
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite; /* Animación de giro */
    margin: 10px auto 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 600px) {
    .albums-grid {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        padding: 0;
    }

    .album-card {
        height: 200px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .album-title {
        font-size: 10px;
    }
}

