.options-container {
    width: fit-content; 
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 260px);
    color: #444;
    background-color: rgba(255, 255, 255, 0.877); /* Fondo blanco para el área de la galería */
    border-radius: 5px;
}
.modal-backdrop {
    position: fixed; /* Fija la posición en relación a la ventana (viewport) */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente oscuro */
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    z-index: 1000; /* Asegura que esté por encima de todo */
}

/* Contenedor del contenido del Modal */
.modal-content {
    background: white;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-height: 90vh;
    max-width: 90vw;
    color: rgb(208, 111, 111);
    font-size: 20px;
}

.modal-content h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

/* Contenedor para los botones Sí/No */
.modal-buttons {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-top: 20px;
}

/* Estilos comunes para los botones del modal */
.modal-yes-button,
.modal-no-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.2s;
}

.modal-yes-button {
    background-color: #dc796e; /* Rojo para confirmar la acción */
    color: white;
}

.modal-yes-button:hover {
    background-color: #c76358;
}

.modal-no-button {
    background-color: #bdc3c7; /* Gris para cancelar */
    color: #5f5f5f;
}

.modal-no-button:hover {
    background-color: #95a5a6;
}
.exit-button {
    background-color: rgb(222, 151, 151);
    color: white;
    border: none;
    box-shadow: 0 4px 16px rgba(172, 148, 148, 0.447);
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    width: auto;
    max-width: 250px;
}

.exit-button:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addAlbum-form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos pasen a la línea siguiente */
    align-items: center;
    gap: 8px; /* Espacio entre el label y el span */
    margin-bottom: 15px;
}

.modalPhotos-no-button {
    background-color: #bdc3c7; /* Gris para cancelar */
    color: #5f5f5f;
}

.modalPhotos-no-button:hover {
    background-color: #95a5a6;
}

.albumTitle {
    display: inline;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #555;
}

.form-note {
    display: inline;
    font-size: 12px; 
    color: #ba4b4b;
    font-weight: bold;
    margin-bottom: 5px;
}

.modal-content input[type="text"],
.modal-content textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
    font-size: 16px;
    color: #333;
}

.modal-content textarea {
    resize: vertical; /* Permite al usuario redimensionar verticalmente */
}

.message-error {
    color: rgb(197, 77, 77);
    font-size: 14px;
}

.modal-content .album-description {
    max-height: 9em; 
    white-space: pre-wrap; 
    overflow-y: auto;
    padding-right: 5px; 
    line-height: 1.5em; 
    margin-bottom: 10px;
}

.modal-cover-show {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px auto 0 auto;
    border-radius: 8px;
    overflow: hidden;
}

.modal-cover-show img {
    object-fit: contain;
    max-height: 70vh;
    width: 100%;
    object-position: center center;
}

.modal-viewPhoto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    border-radius: 8px;
    overflow: hidden;
}

.modal-viewPhoto img {
    object-fit: contain;
    max-height: 70vh;
    object-position: center center;
}

@media (max-width: 600px) {
    .modal-content h3 {
        font-size: 28px;
    }

    .albumTitle {
        font-size: 16px;
    }

    .modal-content textarea {
        font-size: 12px;
    }
}